name: Github Action

on:
  pull_request:
  push:
    branches:
      - master
      - main
      - 'v*'

env:
  CARGO_TERM_COLOR: always
  #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: 1
  PROTOC_NO_VENDOR: 1

jobs:
  fmt:
    name: Fmt
    runs-on: [ self-hosted, Linux, alibaba-cloud ]
    steps:
      - uses: actions/checkout@v2
      - uses: arduino/setup-protoc@v1.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy
    runs-on: [ self-hosted, Linux, alibaba-cloud ]
    steps:
      - uses: actions/checkout@v2
      - uses: arduino/setup-protoc@v1.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all --all-targets

  test:
    name: Test
    runs-on: [ self-hosted, Linux, alibaba-cloud ]
    steps:
      - uses: actions/checkout@v2
      - uses: arduino/setup-protoc@v1.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: test

  build:
    name: Build
    runs-on: [ self-hosted, Linux, alibaba-cloud ]
    steps:
      - uses: actions/checkout@v2
      - uses: arduino/setup-protoc@v1.1.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
